body, html {
    height: 100%;
    position: relative;
}

#canvas {
    cursor: default;
}

.canvas-wrapper {
    margin-left: 300px;
    background-color: #eee;
    height: 100%;
    overflow: scroll;
}

.control-group {
    display: inline-block;
    margin-left: 40px;
}

#default-tile {
    width: 32px;
    height: 32px;
    border: 1px #333 solid;
}

.editor {
    height: 100%;
    padding-top: 70px;
}

#field-sprite {
    display: none;
}

#file-open-modal .drop-zone {
    width: 300px;
    height: 300px;
    border: 5px dashed #888;
    border-radius: 15px;
    margin: 0 auto;
    display: table;
}

#file-open-modal .drop-zone.hover {
    border-color: #333;
}

#file-open-modal .drop-zone h4 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#input-filename {
    width: 250px;
}

.layer-control {
    display: inline-block;
}

#level-size-control input {
    width: 50px;
}

#palette {
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.selector {
    border: 2px solid #6DADF2;
    box-shadow: 0 0 10px #C6DEF7;
    width: 32px;
    height: 32px;
}

.side-pane {
    width: 300px;
    height: 100%;
    float: left;
    background: #bbb;
    border-right: 1px #777 solid;
}

.toolbar {
    padding-top: 20px;
    background: rgb(206,220,231);
    border-bottom: 1px #777 solid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1300px;
    height: 70px;
}
